/* Tab bar */

#TabsToolbar {
    margin-left: 45vw !important;
    max-height: 30px !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-top: -30px !important;
    margin-right: 55vw !important;
    height: 30px !important;
}

/* URL bar */
#urlbar-container {
    min-width: 200px !important;
}

.urlbarView {
    margin: 0px !important;
    width: 100% !important
}

#page-action-buttons {
    display: none !important;
}
