/* Tab bar */

#TabsToolbar {
    margin-top: -1px !important;
    margin-bottom: 1px !important;
    margin-left: 45vw !important;
    max-height: 40px !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-top: -38px !important;
    margin-right: 55vw !important;
    height: 30px !important;
}

/* URL bar */
#urlbar-container {
    min-width: 200px !important;
}
